<!DOCTYPE html>
<html class="offset-body">
<head>
    <meta charset="UTF-8">
    <title>Schedule a test ride</title>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></script>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
</head>
<script>
    var context = {{context | tojson}};
    console.log(context);
</script>
<body>
    <nav class="uk-navbar" style="background: #5F5E5F">
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="https://skillion.com.au" class="top-logo">Skillion</a></li>
                <li><a href="/products">Shop Skillion</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="/guest/signup">Create an account!</a></li>
            </ul>
        </div>
    </nav>
    <div style="padding: 320px; text-align: center; color: orange; line-height: 45px;">
        <h2>Hey {{context['name']}}!</h2>
        <h3>
            {%if context['status'] == 'booked' %}
                You're booked in for your test ride here at Skillion on:<br>{{context['appt']}}<br>
                See you there!
            {% elif context['status'] == 'neither' %}
                Neither of those times work for you, right? No worries - we'll contact you and arrange a better time 🙂
            {% elif context['status'] == 'alreadybooked' %}
                Looks like you've already got a ride time scheduled for {{context['appt']}}<br>
                If this isn't cool for you now, reckon you can give us a call on 0409 366342 or text us a better time?
            {% else %}
                Something's gone wrong with the booking for some bizarro reason.<br>
                Fancy giving us a call or a text on 0409 366342 to arrange with an actual human here at Skillion?
            {% endif %}
        </h3>
    </div>
</body>
</html>
