<!DOCTYPE html>
<html class="offset-body">
<head>
    <meta charset="UTF-8">
    <title>Your test ride</title>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></script>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
</head>
<body>
    <nav class="uk-navbar" style="background: #5F5E5F">
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="https://skillion.com.au" class="top-logo">Skillion</a></li>
                <li><a href="/products">Shop Skillion</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="/guest/signup">Create an account!</a></li>
            </ul>
        </div>
    </nav>
    <div style="padding: 320px; text-align: center;">
          <h2 style="font-family: Lato; color: #FFB02E;">
          {%if notification == 'success' %}
            Thanks for scheduling an appointment, {{name}}! Check your inbox at <a href='mailto:{{email}}'>{{email}}</a> for more details!
          {% else %}
            Sorry, {{name}}! Something went wrong on our end. We'll try to do better next time!
            <a href='/test-ride' id='reload'>Try again!</a>
          {% endif %}
          </h2>
        <p style="color: #FFF;">
            <a href="/">Back home!</a>
        </p>
    </div>
</body>
</html>
